{{!-- <div class="trow ext-center">
    <h2>Edit Blog Post</h2>
    <form class="form comment-form col">
        <div class="form-group row">
            <label for="title-login" class="fw-bold">Title:</label>
            <input class="form-input" type="text" id="title-login" value="{{blog_name}}" />
        </div>
        <div class="form-group row">
            <label for="content-login" class="fw-bold">Content: </label>
            <textarea class="form-input" type="text" id="content-login">{{description}}</textarea>
        </div>
        <br>
        <div class="form-group row">
            <button class="btn btn-primary" type="submit">
                Update post
            </button>
        </div>
        <input id="edit" type="hidden" value="{{blog.id}}" />
    </form>
</div>

<script src="/js/update.js"></script> --}}